<%= form_with model: @bookmar, url: bookmarks_path do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :url %><br>
    <%= form.text_field :url %>
  </p>

  <p>
    <%= form.label :shortening %><br>
    <%= form.text_field :shortening %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
