<%= form_with model: @bookmark, local: true do |form| %>

  <% if @bookmark.errors.any? %>
    <% @bookmark.errors.full_messages.each do |msg| %>
      <p><%= msg %>
    <% end %>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :url %><br>
    <%= form.text_field :url %>
  </p>

  <p>
    <%= form.label :shortening %><br>
    <%= form.text_field :shortening %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
