<h1>Listing bookmarks</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Text</th>
  </tr>

  <% @bookmarks.each do |bookmark| %>
    <tr>
      <td><%= bookmark.title %></td>
      <td><%= bookmark.url %></td>
      <td><%= link_to 'Show', bookmark_path(bookmark) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New bookmark', new_bookmark_path %>

<%= form_tag do %>
  <%= text_field_tag :search_criteria %>
  <%= submit_tag 'Search' %>
<% end %>
