<h1>Listing notes</h1>

<table>
  <tr>
    <th>Body</th>
    <th>Customer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notes.each do |note| %>
  <tr>
    <td><%= note.body %></td>
    <td><%= note.customer %></td>
    <td><%= link_to 'Show', [note.customer, note] %></td>
    <td><%= link_to 'Edit', [:edit, note.customer, note] %></td>
    <td><%= link_to 'Destroy', [note.customer, note], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Note', new_customer_note_path(@customer) %>
